---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
import { Image } from 'astro:assets';
import balance_font from "../assets/images/balance_font.png";
import mockup1 from "../assets/images/mockup1.png";
import mockup2 from "../assets/images/mockup2.png";
import mockup3 from "../assets/images/mockup3.png";
import proces1 from "../assets/images/proces1.png";
import proces2 from "../assets/images/proces2.png";
const images = await Astro.glob("/src/assets/images/galleri/*").then(files => {
  return files.map(file => file.default);
});
---
<MainLayout title="Titel">
	 <style>
        /* Custom styles */
        .green-line {
            border-bottom: 2px solid #00FF00; /* Green line */
        }
        .square {
            width: 200px;
            height: 200px;
            border: 2px solid #00FF00; /* Green border */
        }
    </style>
</head>

<body>
    <div class="container mx-auto">
        <!-- Green line -->
        <div class="green-line mb-4"></div>
        
        <!-- Picture -->
        <div class="text-center mb-4">
           			<Image src={balance_font} alt="Københavnerbilleder bogforside" class="mx-auto" />
        </div>
        
        <!-- Square with text -->
        <div class="text-center">
            <div class="square mx-auto flex items-center justify-center">
                <p class="text-center px-4">Ideen bag denne typografi er at skabe en balance mellem det bløde og hårde, kantede og formede, udadvendte og indadvendte</p>
            </div>
        </div>
    </div>
</body>